@media only screen 
and (min-width:1025px){
   
}
@media only screen 
and (max-width:1024px){
      .ow-navigation .navicon{background-color: rgba(128, 126, 120, 0.6)!important;font-size: 24px;position: absolute;left: 10px;z-index: 100;top: 50%;margin-top: -20px}
    .navbar-brand{margin: 0;width: 100%;text-align: center}
}
@media only screen 
and (min-width:981px){
}
@media only screen 
and (max-width:980px){
    
}
@media only screen 
and (max-width:768px){
     
}
@media only screen
and (max-width:480px){
  .slider-sync2{width: 60%;text-align: center}
  .slider-sync2 .card-title{font-size: 15px;}
   .slider-sync2 .btn-custom{padding: 5px 8px;line-height: 20px;}
   .slider-sync2 .owl-prev:before, .slider-sync2 .owl-next:before{
       font-size: 30px;
   }
   .card-group .card{width: 100%}
}
@media only screen
and (max-width:380px){
}
